{% extends "mainpage/wrapper.html" %}

{% block main %}
        <div class="header">
            <h1><p>Тут пока пусто)</p>
            </h1>

{% endblock %}


{% block side %}

<div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="/">Vladmakers</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/feedback" style="color: white" class="pure-menu-link pure-menu-selected">Актуальное</a></li>
                <li class="pure-menu-item  ">
                    <a href="/news" style="color: white" class="pure-menu-link ">Новости</a>
                </li>

                <li class="pure-menu-item"><a href="/contact" style="color: white" class="pure-menu-link ">Ссылки</a></li>
            </ul>
        </div>
</div>
{% endblock %}
